html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

.site-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

.footer-menu-link {
    color: white;
    text-decoration: none;
}

.footer-menu-link:hover {
    text-decoration: underline;
}

#solicitarPrestamoSeccion{
    display: none !important;
}
