:root {
    --white-color: #ffffff;
    --primary-color:   #005195;
    --gris-pastel: #97989a;
    --lila: #84b6f4;
    --gris-oscuro: #717275;

}

h4, table{
    color: var(--gris-pastel) !important;;
}

h3{
    color: var(--primary-color) !important;;
}
#divTablaSolicitudes{
    padding: 1rem;
}

#tablaSolicitudes_filter,
#tablaCajaAhorro_filter,
#tablaRetiros_filter,
#tablaAhorroAdmin_filter
{
    margin-right: 0.8rem !important;
    border-top-right-radius: 10px !important;
}

#tablaSolicitudes_length,
#tablaCajaAhorro_length,
#tablaRetiros_length,
#tablaAhorroAdmin_length
{
    border-top-right-radius: 10px;
}

#tablaSolicitudess_info,
#tablaCajaAhorro_info,
#tablaRetiros_info,
#tablaAhorroAdmin_info
{
    padding: 0 !important;
}

#tablaSolicitudes_length, #listadoPruebas_filter,
#tablaCajaAhorro_length,
#tablaRetiros_length,
#tablaAhorroAdmin_length
{
    padding-right: 900px !important;
}

#tablaSolicitudes td,
#tablaCajaAhorro td,
#tablaRetiros td,
#tablaAhorroAdmin td
{
    font-size: 0.9rem !important;
    color: var(--primary-color) !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}

#tablaSolicitudes #folio,
#tablaCajaAhorro #folio,
#tablaRetiros #folio,
#tablaAhorroAdmin #folio
{
    width: 6.8rem !important;
}
/*DeataTable*/
#tablaSolicitudes_filter input, #tablaSolicitudes_length select,
#tablaCajaAhorro_filter input, #tablaCajaAhorro_length select,
#tablaRetiros_filter input, #tablaRetiros_length select
#tablaAhorroAdmin_filter input, #tablaAhorroAdmin_length select
{
    color: var(--primary-color);
}

#tablaSolicitudes_length, #tablaSolicitudes_filter,
#tablaCajaAhorro_length, #tablaCajaAhorro_filter,
#tablaRetiros_length, #tablaRetiros_filter,
#tablaAhorroAdmin_length, #tablaAhorroAdmin_filter
{
    padding: 3rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 15px !important;
}

#tablaSolicitudes_length,
#tablaCajaAhorro_length,
#tablaRetiros_length,
#tablaAhorroAdmin_length
{
    border-top-left-radius: 10px;
}

#tablaSolicitudes_filter,
#tablaCajaAhorro_filter,
#tablaRetiros_filter,
#tablaAhorroAdmin_filter
{
    border-top-right-radius: 10px;
}

#tablaSolicitudes_info,
#tablaCajaAhorro_info,
#tablaRetiros_info,
#tablaAhorroAdmin_info
{
    padding: 1rem !important;
    color: var(--primary-color) !important;
    font-size: 0.9rem !important;
}
.dataTables_paginate {
    margin-top: 20px;
}

.dataTables_paginate .paginate_button,
#tablaSolicitudes_previous,
#tablaCajaAhorro_previous,
#tablaRetiros_previous,
#tablaAhorroAdmin_previous
{
    border-radius: 4px;
    margin: 0 2px;
    cursor: pointer;
}

.dataTables_paginate .paginate_button:hover {
    background-color:  var(--white-color);
}
.dataTables_filter input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
}
.centered {
    text-align: center;
}

label {
    display: ruby-text !important;
}

.dataTables_filter input {
    width: 200px !important;
}

.form-select-sm {
    width: 60px !important;
}